@import url("/assets/css/common.css");
nav {
  z-index: 9999;
}
nav .gnb-overlay {
  position: fixed;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  pointer-events: none;
}
nav .gnb-overlay.on {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
nav ul.gnb {
  height: 44px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul.gnb li {
  height: 100%;
}
nav ul.gnb a {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
}
nav ul.gnb .obj {
  display: flex;
}
nav .gnb-submenu-container {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
  pointer-events: none;
}
nav .gnb-submenu-container.on {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
nav .gnb-submenu-container .submenu-header {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  display: block;
  color: rgb(110, 110, 115);
  margin-bottom: 10px;
}
nav .gnb-submenu-container .submenu-content {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  display: flex;
  padding: 40px 22px 84px;
}
nav .gnb-submenu-container .submenu-group-elevated {
  max-width: 50%;
  padding-inline-end: 88px;
}
nav .gnb-submenu-container .submenu-group-elevated .globalnav-submenu-list {
  display: flex;
  flex-direction: column;
}
nav .gnb-submenu-container .submenu-group-elevated .globalnav-submenu-list .submenu-list-item-elevated {
  display: inline-block;
  font-size: 24px;
  padding: 7px 0;
}
nav .gnb-submenu-container .submenu-group-elevated .globalnav-submenu-list .submenu-list-item-elevated a {
  color: #000;
  font-weight: 700;
}
nav .gnb-submenu-container .submenu-groub {
  margin-bottom: -4px;
  max-width: 25%;
  padding-inline-end: 44px;
}
nav .gnb-submenu-container .submenu-groub .submenu-list-item a {
  display: inline-block;
  font-size: 12px;
  color: #000;
  padding: 7px 0;
  font-weight: 600;
}
nav .gnb-submenu-container .submenu-list-item {
  margin-top: 5px;
}
nav .gnb-submenu-container .submenu-list-item a {
  display: inline-block;
  font-size: 12px;
  color: #000;
  font-weight: 600;
  padding: 0 10px;
}

section.heros {
  position: relative;
  margin-bottom: 12px;
  z-index: -1;
}
section.heros .iphone-family .module-content {
  height: var(--content-height);
}
section.heros .iphone-family .module-content .text-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding-top: 55px;
  text-align: center;
  line-height: 1.25;
}
section.heros .iphone-family .module-content .text-wrapper .headline {
  font-size: 56px;
  font-weight: 700;
  color: var(--black-01);
}
section.heros .iphone-family .module-content .text-wrapper .subhead {
  font-size: 28px;
  font-weight: 400;
  color: var(--black-01);
}
section.heros .iphone-family .module-content .img-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.heros .iphone-family .module-content .img-wrapper .unit-image {
  background: url("/assets/images/hero_iphone_family.jpg") center no-repeat;
  height: 692px;
}

section.trade-in {
  position: relative;
  margin-bottom: 12px;
}
section.trade-in .iphone-family .module-content {
  height: var(--content-height);
}
section.trade-in .iphone-family .module-content .text-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding-top: 55px;
  text-align: center;
  line-height: 1.25;
}
section.trade-in .iphone-family .module-content .text-wrapper .subhead {
  font-size: 28px;
  font-weight: 500;
  color: var(--black-01);
}
section.trade-in .iphone-family .module-content .text-wrapper .callout {
  margin-top: 10px;
  font-size: 19px;
}
section.trade-in .iphone-family .module-content .img-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.trade-in .iphone-family .module-content .img-wrapper .unit-image {
  background: url("/assets/images/hero_iphone_tradein__fo4u4bki88ae_largetall.jpg") center no-repeat;
  height: 692px;
}

section.ipad-pro {
  position: relative;
  height: var(--content-height);
  margin-bottom: 12px;
}
section.ipad-pro .iphone-family {
  height: var(--content-height);
}
section.ipad-pro .iphone-family .module-content {
  height: var(--content-height);
}
section.ipad-pro .iphone-family .module-content .text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  line-height: 1.25;
}
section.ipad-pro .iphone-family .module-content .text-wrapper .headline {
  font-size: 56px;
  font-weight: 700;
  color: var(--white-01);
}
section.ipad-pro .iphone-family .module-content .text-wrapper .text-top {
  padding-top: 55px;
}
section.ipad-pro .iphone-family .module-content .text-wrapper .text-bottom {
  padding-bottom: 55px;
}
section.ipad-pro .iphone-family .module-content .text-wrapper .subhead {
  font-size: 28px;
  font-weight: 500;
  color: var(--white-01);
}
section.ipad-pro .iphone-family .module-content .text-wrapper .callout {
  margin-top: 10px;
  font-size: 19px;
}
section.ipad-pro .iphone-family .module-content .img-wrapper {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.ipad-pro .iphone-family .module-content .img-wrapper .unit-image {
  background: url("/assets/images/hero_ipadpro_avail__d6ddfjws77ue_largetall.jpg") center no-repeat;
  height: 692px;
}

section.collection {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 12px;
  text-align: center;
}
section.collection .Macbook-air {
  position: relative;
  width: 100%;
  height: 580px;
}
section.collection .iPad-air {
  position: relative;
  width: 100%;
  height: 580px;
}
section.collection .iPad-air .logo {
  background: url("/assets/images/promo_logo_ipadair__frwnnsqveeye_large.png") center no-repeat;
  width: 144px;
  height: 44px;
  margin: 0 auto;
}
section.collection .iPad-air .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.collection .iPad-air .img-wrapper figure {
  background: url("/assets/images/promo_ipad_air__bfbxzvw65c02_large.jpg") center;
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  z-index: 1;
}
section.collection .watch-series-10 {
  position: relative;
  width: 100%;
  height: 580px;
}
section.collection .watch-series-10 .logo {
  background: url("/assets/images/promo_logo_apple_watch_series_10__qk5vaa89vnm2_large.png") center no-repeat;
  width: 149px;
  height: 57px;
  margin: 0 auto;
}
section.collection .watch-series-10 .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.collection .watch-series-10 .img-wrapper figure {
  background: url("/assets/images/promo_apple_watch_series_10_avail_lte__c70y29goir42_large.jpg") center;
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  z-index: 1;
}
section.collection .airpods-4 {
  position: relative;
  width: 100%;
  height: 580px;
}
section.collection .airpods-4 .text-wrapper {
  justify-content: flex-end;
}
section.collection .airpods-4 .text-wrapper .split-top {
  color: var(--white-01);
  padding-bottom: 53px;
}
section.collection .airpods-4 .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.collection .airpods-4 .img-wrapper figure {
  background: url("/assets/images/promo_airpods_4_avail__bl22kvpg6ez6_large.jpg") center;
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  z-index: 1;
}
section.collection .macbook-pro {
  position: relative;
  width: 100%;
  height: 580px;
}
section.collection .macbook-pro .split-top {
  color: var(--white-01);
}
section.collection .macbook-pro .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.collection .macbook-pro .img-wrapper figure {
  background: url("/assets/images/promo_macbookpro_announce__gdf98j6tj2ie_large.jpg") center;
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  z-index: 1;
}
section.collection .watch-ultra {
  position: relative;
  width: 100%;
  height: 580px;
}
section.collection .watch-ultra .split-top {
  color: var(--white-01);
}
section.collection .watch-ultra .logo {
  background: url("/assets/images/promo_logo_apple_watch_ultra2__ggg2x39rsvqu_large.png") center no-repeat;
  width: 144px;
  height: 58px;
  margin: 0 auto;
}
section.collection .watch-ultra .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.collection .watch-ultra .img-wrapper figure {
  background: url("/assets/images/promo_apple_watch_ultra2_avail__dyawbjw9cowi_large.jpg") center;
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  z-index: 1;
}
section.collection .text-wrapper {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.collection .headline {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  margin-top: 53px;
}
section.collection .subhead {
  font-size: 21px;
  line-height: 1.2858;
  font-weight: 400;
  letter-spacing: -0.231px;
  margin-top: 9px;
}
section.collection a {
  padding: 7px 15px;
  min-width: 30px;
  font-size: 14px;
  line-height: 1.42859;
}
section.collection .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
section.collection .img-wrapper figure {
  background: url("/assets/images/promo_macbook_air_avail__e8ksaudoisey_large.jpg") center;
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  z-index: 1;
}

section.appleTv-slide .swiper {
  width: 100%;
  height: auto;
  margin: 40px auto;
  position: relative;
}
section.appleTv-slide .swiper .swiper-slide {
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
section.appleTv-slide .swiper .swiper-slide.swiper-slide-active {
  opacity: 1;
  z-index: 2;
}
section.appleTv-slide .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.appleTv-slide .swiper .swiper-button-prev,
section.appleTv-slide .swiper .swiper-button-next {
  color: white;
}
section.appleTv-slide .swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
section.appleTv-slide .swiper .swiper-pagination-bullet-active {
  background: #fff;
}

footer {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
}
footer section.sosumi ul {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  padding: 17px 0 11px;
  color: var(--grey-02);
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 500;
}
footer section.sosumi ul li {
  margin-bottom: 10px;
}
footer section.directory {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
}
footer section.directory .directory-column {
  flex-basis: 25%;
}
footer section.directory .directory-column .directory-column-section {
  padding-top: 24px;
}
footer section.directory .directory-column .directory-column-section .directory-column-section-title {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  margin-bottom: 10px;
}
footer section.directory .directory-column .directory-column-section .directory-column-section-item {
  margin-bottom: 10px;
}
footer section.directory .directory-column .directory-column-section .directory-column-section-item a {
  color: rgba(0, 0, 0, 0.72);
}
footer section.directory .directory-column .directory-column-section .directory-column-section-item a:hover {
  text-decoration: underline;
}
@media (max-width: 1068px) {
  .headline {
    font-size: 48px !important;
  }
  .subhead {
    font-size: 24px !important;
  }
}
@media (max-width: 832px) {
  nav ul.gnb {
    padding: 0 20px;
  }
  nav ul.gnb li {
    display: none;
  }
  nav ul.gnb .obj {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 734px) {
  .headline {
    font-size: 32px !important;
  }
  .subhead {
    font-size: 19px !important;
  }
  h2.headline img {
    width: 144px;
  }
}
@media (max-width: 734px) {
  .headline {
    font-size: 32px !important;
  }
  .subhead {
    font-size: 19px !important;
  }
}/*# sourceMappingURL=style.css.map */